.icon-fuel {
    background: url('../../../../../content/images/assets/icon-fuel.svg') 50% no-repeat;
    height: 50px;
}

.icon-gearbox {
    background: url('../../../../../content/images/assets/icon-gearbox.svg') 50% no-repeat;
    height: 50px;
}

.icon-traction {
    background: url('../../../../../content/images/assets/icon-traction.svg') 50% no-repeat;
    height: 50px;
}
