<div class="row">
    <div class="col-12 mb-5">
        <h1>{{'wizard.model.select-model' | translate}}</h1>
    </div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>

<div *ngIf="models?.length == 0 && dataLoaded == true || state.manufacturer.length == 0">
    <div class="alert alert-danger" role="alert">
        {{'wizard.no-data' | translate}}
    </div>
</div>

<div
    *ngIf="models?.length > 0 && dataLoaded == true"
    fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let model of models">
        <mat-card class="model-card" fxFlex="0 1 calc(33.3%)">
            <mat-card-header>
                <mat-card-title>{{model.manufacturer}} {{model.model}}</mat-card-title>
                <mat-card-subtitle>
                    {{model.minPrice * 1.19 | currency: model.currency : 'symbol-narrow':'1.0-2'}} - {{model.maxPrice * 1.19 | currency: model.currency : 'symbol-narrow':'1.0-2'}} brut
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="{{getImageUrl(model)}}"
                 onError="this.src='../../../../../content/images/404/car-image-not-available.jpg';"
                 alt="Car model image">
            <mat-card-content></mat-card-content>
            <mat-card-actions>
                <button
                    mat-stroked-button
                    (click)="handleModelSelection(model)"
                    jhiTranslate="wizard.select">
                    Select
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
